<div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto p-3 rounded-3" style="background-color: #121212; color: white;">
        <div class="col-auto p-3">
            <h1 class="text-center">ROOM RESERVATION APP</h1>
            <form class="pt-3" [formGroup]="userForm">
                <div class="form-group">
                    <label for="emailUser">EMAIL:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i
                                class="fa-solid fa-envelope"></i></span>
                        <input id="emailUser" formControlName="emailUser" type="email" class="form-control"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordUser">PASSWORD:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i
                                class="fa-solid fa-key"></i></span>
                        <input id="passwordUser" formControlName="passwordUser" type="password" class="form-control"
                            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="d-grid text-center py-3">
                    <button class="btn btn-primary btn-lg">LOGIN</button>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-start">NEED AN ACCOUNT?</h6>
                        </div>
                        <div class="col">
                            <a class="text-end">
                                <h6>REGISTER</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>